---
import EventItem from "./EventItem.astro";
import imgDezanare from "../assets/images/285606.png";
import img25shinsotsu from "../assets/images/285888.png";
import imgDesignersMayhem from "../assets/images/285370.png";
import imgGeneratedAI from "../assets/images/284344.png";
import imgNotStartDesignSystem from "../assets/images/289496.png";
---

<ul>
  <li>
    <EventItem
      name="デザインシステムからはじめない、デザインシステムの考え方"
      href="https://flexy.connpass.com/event/289496/"
      img={imgNotStartDesignSystem}
    >
      <p>
        SmartHR
        のプロダクトデザイナーとして、デザインシステムとどう向き合っているのかを話してきます。
      </p>
    </EventItem>
  </li>
  <li>
    <EventItem
      name="【SmartHR×note×DMM】生成AIにおけるプロダクトデザインを考えよう"
      href="https://smarthr.connpass.com/event/284344/"
      img={imgGeneratedAI}
    >
      <p>
        生成AIを扱った機能やサービスについて、我々デザイナーがどう取り組んでいくべきかを、参加者全員で考えていきましょう。
      </p>
    </EventItem>
  </li>
</ul>

<h2>過去のイベント</h2>

<ul>
  <li>
    <EventItem
      name="デザナレ展 vol.2 | 優れたチームのすごいラフを一挙公開！リアルで見知れるデザイン展"
      href="https://vivivit.connpass.com/event/285606/"
      img={imgDezanare}
    >
      <p>
        プロデザメンバーが登壇するほか、会場で複数のプロデザがお待ちしています。
      </p>
    </EventItem>
  </li>
  <li>
    <EventItem
      name="25新卒 | #2 プロはこう作る! ゼロからUIデザインリアルタイム配信"
      href="https://smarthr.connpass.com/event/285888/"
      img={img25shinsotsu}
    >
      <p>
        25新卒向けオンラインイベント第2回です。今回も0から実際の仕事さながらUIを作っていきます。
      </p>
    </EventItem>
  </li>
  <li>
    <EventItem
      name="デザイナーズメイヘム! 〜プロダクトデザイナー vs アクセシビリティスペシャリスト"
      href="https://smarthr.connpass.com/event/285370/"
      img={imgDesignersMayhem}
    >
      <p>
        混同されがちなプロダクトデザイングループとプログレッシブデザイングループの違いを議論を通して明らかにします。
      </p>
    </EventItem>
  </li>
</ul>

<!-- <p><a>過去のイベント一覧（準備中）</a></p> -->

<style>
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: var(--spacing-1);
    margin-block: unset;
    margin-inline: min(calc(20% - 20vw), calc(-1 * var(--spacing-2)));
    padding-inline: var(--spacing-2);
  }

  li {
    background-color: color-mix(in srgb, var(--bg), var(--fg) 20%);
    padding: var(--spacing-2);
    padding-block-start: unset;
  }
</style>
